<h2>Aca se pueden modificar los precios</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum adipisci expedita commodi sunt voluptatibus dolore
    maxime vero, voluptate magni ex iusto architecto repudiandae? Iusto sunt quam porro? Hic, modi sunt?</p>